/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   custom styles
   ========================================================================== */

/* Fonts */

@font-face{
/*  Ace Records */
  font-family: 'Ace';
  src: url("fonts/Ace records.ttf");
}

@font-face{
/*  FOX & CAT */
  font-family: fnc;
  src: url('fonts/Fox&Cat.ttf');
}

body{
    font-family: 'Abel', sans-serif;
    color: #fff;
    font-weight: 300px;
    font-size: 16px;
}
h3{
    font-size: 130%;
}

.loading{
  position: absolute;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  background: #181818;
  z-index: 100000;
}
.loader {
  display: block;
  margin: 7% auto 0 auto;
}
.loading p{
  color: white;
}
.page{
    max-height: 100vh;
    background: #333 no-repeat center center;
    background-size: auto 600px;
    background-attachment: fixed;
    background-position: top center;
    position: relative;
    overflow: hidden;
}
.dates{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.8);
  color: #3b5998;
  margin-top: 40px;
  z-index: 10000;
  padding: 5px;
}

/*Rocks*/
.rocks{
    width: 100vw;
    height: 100vh;
    /*background: url("images/black-hole-bg.jpg") no-repeat center center;*/
    position: fixed;
    background-position: fixed;
    overflow: auto;
}

.rocks-front,
.rocks-mid,
.rocks-back{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-position: fixed;
    top: 0;
    left: 0;
}

.rocks-front{
    /*background-color: #fbb040;*/
    background: url('../images/rocks-front.png') center center;
}
.rocks-mid{
    /*background-color: #ea4335;*/
    background: url('../images/rocks-mid.png') center center;
}
.rocks-back{
    /*background-color: #4dc9f6;*/
   background: url('../images/rocks-back.png') center center;
}

/*Logo*/
.logo{
    width: 450px;
    height: 450px;
    margin-top: 100px;
    background: url("../images/silver.png") /*honeydew*/ no-repeat center center;
    background-size: auto 260px;
    z-index: 3;
    position: relative;
    transition: all 0.3s ease;
}
@media screen and (min-width: 768px){
    .logo:hover{
    width: 450px;
    height: 450px;
    margin-top: 100px;
    background: url("../images/dragonss.png") /*honeydew*/ no-repeat center center;
    background-size: auto 280px;
    }
  }

/*Buttons*/
.buttons{
    width: auto;
    position: absolute;
    top: 75px;
    right: 48px;
    /*background: pink;*/
}
.buttons .btn{
    background: transparent;
    border: 1px solid white;
    border-radius: 0;
    padding: 5px;
    width: 80px;
    font-size: 14px;
    position: relative;
    transition: all 0.5s ease;
}

.login:hover{
    background: #ff5a5f;
    border: 1px solid #ff5a5f;
    color: #Fff;
}

.register:hover{
    background: #44c7f4;
    border: 1px solid #44c7f4;
    color: #Fff;
}

/*Social Buttons*/
.social {
    float: right;
    margin-top: 25px;
    width: 172px;
    /*background-color: orange;*/
}
.social .btn {
    opacity: 0.;
    color: white;
    transition: transform 0.5s cubic-bezier(0.76, -0.46, 0.19, 1.51);
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 10px;
    border-radius: 50%;
    padding: 6px 10px;
    margin: 1px;
}
.social .btn:hover {
    opacity: 1.0;
    transform: scale(1.7) rotate(360deg);
    color: #fff;
}
.btn-g:hover {
    background-color: #ff5a5f;
}
.btn-f:hover {
    background-color: #3b5998;
}
.btn-i:hover {
    background-color: #e1306c;
}
.btn-y:hover {
    background-color: #dd1a32;
}
.btn-m:hover {
    background-color: #fdb813;
}

/*Menu Styles*/
.menu{
    margin-top: 30px;
    height: 1750px;
    display: flex;
    justify-content: space-around;
    z-index: 4;
    position: relative;
}

.menu-item{
    border: 1px solid #00bcd4;
    height: 280px;
    width: 190px;
    background: transparent;
    transition: all 0.6s ease-in-out;
    position: relative;
    overflow: hidden;
}

.img-size{
  margin: 18% auto;
  width: 160px;
  cursor: pointer;
  height: 160px
}
.menu1:hover,
.menu2:hover,
.menu3:hover,
.menu4:hover,
.menu5:hover{
    transform: translateY(-230px);
    border: transparent;
}

.menu1 img{
  background-color: #ff5a5f;
}
.menu2 img{
  background-color: #9c2caf;
}
.menu3 img{
  background-color: #ff6b3a;
}
.menu4 img{
  background-color: #00c667;
}
.menu5 img{
  background-color: #00bcd4;
}


.menu1:hover{
    background-color: #fff;
}
.menu2:hover{
    background-color: #9c2caf;
}
.menu3:hover{
    background-color: #ff6b3a;
}
.menu4:hover{
    background-color: #00c667;
}
.menu5:hover{
    background-color: #00bcd4;
}
footer{
    display: none;
    height: 200px;
    color: #ffd;
    padding-top: 30px;
}
footer a{
    display: block;
    font-size: 10px;
}
footer a:hover{
    text-decoration: none;
    color: inherit;
}
footer a:visited{
    text-decoration: none;
    color: inherit;
}

.social-footer .btn {
    transform: scale(1) rotate(0deg);
    color: white;
    transition: transform 0.5s cubic-bezier(0.76, -0.46, 0.19, 1.51);
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 10px;
    border-radius: 50%;
    padding: 6px 10px;
    margin: 1px; }
.social-footer .btn:hover {
      background-color: rgba(0, 0, 10, 0.5);
      color: #fff;
      opacity: 1.0;
      transform: scale(1.7) rotate(360deg);
}
.social-footer .btn-g:hover {
    background-color: #ff5a5f;
}
.social-footer .btn-f:hover {
    background-color: #00ffff;
}
.social-footer .btn-i:hover {
    background-color: #e1306c;
}
.social-footer .btn-y:hover {
    background-color: #dd1a32;
}
.social-footer .btn-m:hover {
    background-color: #fdb813;
}

/*Media Queries*/
@media screen and (max-width: 768px) {
    .page{
        max-height: 2500px;
        /*background: url("../images/bg.png") no-repeat center center;*/
    }
    .loading{
      display: none;
    }
    .dates{
      position: absolute;
      top:-40px;
      width: 100%;
    }
    .menu{
        height: 1800px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 190px;
    }

    .menu-item{
        border: 1px solid #fff;
        height: 300px;
        margin: 5px;
        width: auto;

    }
    .social {
        /*background: orange;*/
        position: absolute;
        top: 20%;
        left: 50%;
        margin-left: -86px;
    }
    .logo{
        width: auto;
        margin-top: 20px;
    }
    .buttons{
        position: relative;
        width: 80px ;
        margin: auto;
        margin-top: -100px;
        left: 50%;
        margin-left: -15px;
    }
    .buttons .btn{
        width: 80px;
        margin: 0 10px;
    }

    .menu-item:hover{
        transform: none;
    }
    footer{
        display: block;
    }
}

@media screen and (max-width: 320px) {
    .page{
        max-height: 2700px;
    }
    .social {
        background: transparent;
        position: absolute;
        top: 20%;
        left: 50%;
        margin-left: -102px;
    }
    .logo{
        width: auto;
        margin-top: 20px;
        height: 65vh;
        /*background: url("../images/logo.png") /*honeydew no-repeat bottom center;*/*/
        background-size: auto 180px;
    }
    .logo:hover{
        background-size: auto 220px;
    }
    .buttons{
        position: relative;
        width: 150px;
        margin: auto;
        margin-top: -40px;
        left: 50%;
        margin-left: -75px;
    }
    .buttons .btn{
        width: 100px;
    }
}


/* Register Page */

.title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  color: #42C0FB;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1px;
}

.description {
  text-align: center;
  color: #666;
  margin-bottom: 10px;

}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="submit"] {
 font-size: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  color: #A7D3E7;
  background: transparent;
}
input[type="submit"]{
  padding: 15px;
  font-size: 18px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
  border-color: #42C0FB;
}

input[type="radio"] {
  margin-right: 10px;
}
input[type="submit"] {
  background: #42afff;
  color: #fff;
  /*height: 40px;*/
  /*line-height: 15px;*/
  transition: all 0.4s ease-in-out;
  border: none;
}
input[type="submit"]:hover {
  background: #42C0FB;
  color: #fff;
  border: 1px inset #999;
}

label {
  margin-bottom: 20px;
  display: block;
  font-size: 18px;
  color: #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  cursor: pointer;
}
label:first-child {
  margin-bottom: 0;
  border-bottom: none;
}

.button,
.rerun-button {
  padding: 10px 20px;
  border-radius: 3px;
  background: #42C0FB;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  cursor: pointer;
}
.button:hover,
.rerun-button:hover {
  background: #42C0FB ;
}
.button.rerun-button,
.rerun-button.rerun-button {
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.2);
  display: none;
}

.text-center {
  text-align: center;
}

.modal-wrap {
  max-width: 600px;
  margin: 50px auto;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.modal-header {
  height: 45px;
  background: white;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.modal-header span {
  display: block;
  height: 12px;
  width: 12px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}
.modal-header span.is-active {
  background: rgba(0, 0, 0, 0.4);
  background: #42C0FB;
}

.modal-bodies {
  position: relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.modal-body {
  background: transparent;
  padding: 40px;
  box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  position: absolute;
  top: 0;
  display: none;
  box-sizing: border-box;
  /*width: 100%;*/
  -webkit-transform-origin: top left;
  transform-origin: top left;
}
.modal-body.is-showing {
  display: block;
}
.modal-body.is-not-showing {
  display: none;
}


.animate-out {
  -webkit-animation: out 600ms ease-in-out forwards;
  animation: out 600ms ease-in-out forwards;
}

.animate-in {
  -webkit-animation: in 500ms ease-in-out forwards;
  animation: in 500ms ease-in-out forwards;
  display: block;
}

.animate-up {
  -webkit-transform: translateY(-500px) rotate(30deg);
  transform: translateY(-500px) rotate(30deg);
}

@-webkit-keyframes out {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  100% {
    -webkit-transform: translateY(800px) rotate(10deg);
    transform: translateY(800px) rotate(10deg);
  }
}

@keyframes out {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  100% {
    -webkit-transform: translateY(800px) rotate(10deg);
    transform: translateY(800px) rotate(10deg);
  }
}
@-webkit-keyframes in {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@keyframes in {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}


@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    h2{
        font-family: ace;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
